@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
.swiper {
    position: relative;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
.swiper-button-next,
.swiper-button-prev {
  z-index: 10; 
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    font-size: 24px; 
    color: #000; 
    background-color: #f0f0f0; 
    border-radius: 50%; 
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1); 
    color: green; 
}
